*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFDF4;
}
header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    align-items: center;
}
header ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
.registr{
    display: flex;
    gap: 20px;
    align-items: center;
}
.registr button{
    background-color: transparent;
    border: 1px solid #550088;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}
.setup{
    max-width: 1200px;
    margin: 150px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.setup h1{
    font-size: 70px;
}
.setup p{
    text-align: center;
    font-size: 20px;
}
.setup span {
    color: #550088;
}
.setup input{
    width: 200px;
    height: 30px;
    border: 1px solid black;
}
.setup button{
    background-image: linear-gradient(to bottom, #550088,#7800BF,#892FFC);
    color: white;
    border: 1px solid black;
    padding: 10px 25px;
}

.section{
max-width:1200px;
margin:auto;
padding:80px 0;
}

.block{
display:flex;
align-items:center;
justify-content:space-between;
margin-bottom:120px;
}

.text{
width:420px;
text-align: center;
}

.text h2{
font-size:32px;
margin-bottom:20px;
}

.text p{
font-size:16px;
line-height:1.6;
color:#6c6c7a;
margin-bottom:20px;
}

.text a{
color:#6c3cff;
text-decoration:none;
font-weight:600;
}

.features{
width:1200px;
margin:auto;
padding-bottom:120px;
}

.features h1{
font-size:42px;
margin-bottom:50px;
}

.content{
display:flex;
align-items:flex-start;
gap:0px;
}

.list{
list-style:none;
font-size:16px;
color:#3a3a45;
}

.list li{
margin-bottom:15px;
position:relative;
padding-left:25px;
}

.list li:before{
content:"✓";
position:absolute;
left:0;
color:#2ecc71;
font-weight:bold;
}

.link{
display:block;
margin-top:20px;
color:#6c3cff;
text-decoration:none;
}
.brend{
    width: 80%;
}

